#Sublime Text 3
*.cache
*.last-run
*.*-ca-bundle

# Vim
vim/bundle/*
!vim/bundle/Vundle.vim
vim/bundle/plugins/*
!vim/bundle/plugins
!vim/bundle/vim-plug
vim/plugged/*
!vim/plugged
vim/tmp
.netrwhist
vim/shada

# Local Files
local.zsh

# MacOS
.DS_Store
