#Sublime Text 3
*.cache
*.last-run
*.*-ca-bundle

# Vim
vim/bundle/*
!vim/bundle/Vundle.vim
vim/bundle/plugins/*
!vim/bundle/plugins
vim/tmp
.netrwhist
init.vim
vim/shada

# Local Files
local.zsh

# MacOS
.DS_Store
