---
- name: Ensure config directories exist
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - "{{ ansible_facts.env.HOME }}/.config"
    - "{{ ansible_facts.env.HOME }}/.config/tmux"

- name: Link ZSH directory
  file:
    src: "{{ ansible_facts.env.HOME }}/.dotfiles/zsh"
    dest: "{{ ansible_facts.env.HOME }}/.zsh"
    state: link
    force: yes
  tags:
    - zsh

- name: Link ZSH config files
  file:
    src: "{{ ansible_facts.env.HOME }}/.dotfiles/zsh/{{ item.src }}"
    dest: "{{ ansible_facts.env.HOME }}/{{ item.dest }}"
    state: link
    force: yes
  with_items:
    - { src: "zshrc", dest: ".zshrc" }
    - { src: "zshenv", dest: ".zshenv" }
  tags:
    - zsh

- name: Link git config files
  file:
    src: "{{ ansible_facts.env.HOME }}/.dotfiles/git/{{ item.src }}"
    dest: "{{ ansible_facts.env.HOME }}/{{ item.dest }}"
    state: link
    force: yes
  with_items:
    - { src: "gitignore_global", dest: ".gitignore_global" }
    - { src: "gitattributes", dest: ".gitattributes" }
  tags:
    - git

- name: Link Tmux config
  file:
    src: "{{ ansible_facts.env.HOME }}/.dotfiles/tmux/tmux.conf"
    dest: "{{ ansible_facts.env.HOME }}/.config/tmux/tmux.conf"
    state: link
    force: yes
  tags:
    - tmux

- name: Link VIM directory
  file:
    src: "{{ ansible_facts.env.HOME }}/.dotfiles/vim"
    dest: "{{ ansible_facts.env.HOME }}/.vim"
    state: link
    force: yes
  tags:
    - vim

- name: Link VIM config file
  file:
    src: "{{ ansible_facts.env.HOME }}/.dotfiles/vim/vimrc"
    dest: "{{ ansible_facts.env.HOME }}/.vimrc"
    state: link
    force: yes
  tags:
    - vim

- name: Link VIM directory to Neovim
  file:
    src: "{{ ansible_facts.env.HOME }}/.vim"
    dest: "{{ ansible_facts.env.HOME }}/.config/nvim"
    state: link
    force: yes
  tags:
    - vim
    - neovim

- name: Link VIM config to Neovim init.vim
  file:
    src: "{{ ansible_facts.env.HOME }}/.vimrc"
    dest: "{{ ansible_facts.env.HOME }}/.config/nvim/init.vim"
    state: link
    force: yes
  tags:
    - vim
    - neovim
