---
- block:
  - name: Include brew package list
    include_vars: vars/packages/macos.yml

  - name: Update/Upgrade Homebrew
    homebrew:
      update_homebrew: true

  - name: Manage formula
    homebrew:
      name: "{{ item.key }}"
      install_options: "{{ item.value.options | default('formula') }}"
      state: "{{ item.value.state | default('present') }}"
    with_dict: "{{formula}}"

  - name: Manage casks
    homebrew_cask:
      name: "{{ item.key }}"
      state: "{{ item.value.state | default('present') }}"
    with_dict: "{{casks}}"

  when: ansible_facts.os_family == "Darwin"
  tags:
    - brew