---
- name: Playbook to manage my dotfiles and system preferences
  hosts: localhost
  connection: local
  handlers:
    - name: Restart SystemUIServer
      shell: killall SystemUIServer
      ignore_errors: yes

    - name: Restart ControlCenter
      shell: killall ControlCenter
      ignore_errors: yes

    - name: Kill Bluesnooze
      shell: killall Bluesnooze
      ignore_errors: yes

  tasks:
    - name: load custom vars
      include_vars: ./vars.yml
      tags:
        - always

    - name: Make sure dotfiles are present
      git:
        repo: https://github.com/HeroCC/dotfiles.git
        dest: ~/.dotfiles
        recursive: yes
      register: dotfiles_clone
      failed_when:
        - not 'Local modifications exist in' in dotfiles_clone.msg

    - include_tasks: tasks/packages.yml
      tags:
        - packages

    - include_tasks: tasks/link_files.yml
      tags:
        - links

    # Needs to be after packages
    # - include_tasks: tasks/tmux_plugins.yml
    #   tags:
    #     - tmux_plugins

    - include_tasks: tasks/macos_defaults.yml
      when: ansible_os_family == "Darwin"
      tags:
        - macos_defaults

